.web-form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.welcome {
    position: relative;
}

.logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #d32f2f;
}
.login-signup-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
}

.login-signup-btn:hover {
    background-color: #45A049;
}