<!-- account_settings.html -->

{% extends 'base.html' %}

{% block title %}Account Settings{% endblock %}

{% block content %}
    <h1>Account Settings</h1>
    <form method="POST" action="{{ url_for('account_settings') }}">
        {{ form.hidden_tag() }}  <!-- Include CSRF token -->
        <div class="form-group">
            <label for="firstname">First Name:</label>
            {{ form.firstname(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            {{ form.lastname(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="timezone">Timezone:</label>
            {{ form.timezone(class="form-control") }}
        </div>
        <br>
        <div class="form-group">
            <label for="thankfulness_length">Number of days to be reminded of answered prayers:</label>
            {{ form.thankfulness_length(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Update Account Settings</button>
    </form>
{% endblock %}
