{% extends 'base.html' %}

{% block title %}Add New Prayer{% endblock %}

{% block content %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <h1>Add New Prayer</h1>
    <form method="POST" action="{{ url_for(page_name) }}">
        {{ form.csrf_token }}  <!-- Include CSRF token -->
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            <label>Reminder Days:</label>
            <div class="checkbox-inline">
                {{ form.sunday.label }} {{ form.sunday() }}
            </div>
            <div class="checkbox-inline">
                {{ form.monday.label }} {{ form.monday() }}
            </div>
            <div class="checkbox-inline">
                {{ form.tuesday.label }} {{ form.tuesday() }}
            </div>
            <div class="checkbox-inline">
                {{ form.wednesday.label }} {{ form.wednesday() }}
            </div>
            <div class="checkbox-inline">
                {{ form.thursday.label }} {{ form.thursday() }}
            </div>
            <div class="checkbox-inline">
                {{ form.friday.label }} {{ form.friday() }}
            </div>
            <div class="checkbox-inline">
                {{ form.saturday.label }} {{ form.saturday() }}
            </div>
        </div>
        
        <div class="form-group">
            {{ form.tag.label }}
            {{ form.tag(class="form-control") }}
        </div>  
        <div class="form-group">
            {{ form.sharable.label }}            {{ form.sharable(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">Save Prayer</button>
        
    </form>

{% endblock %}