<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>



    <div class="navbar">
        <div class="navbar-brand">Christian Reflections - A Prayer App</div>
        <nav>

            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('add_prayer') }}">Add Prayer</a></li>
                    <li><a href="{{ url_for('view_prayers') }}">View My Prayers</a></li>
                    <li><a href="{{ url_for('friends_prayers') }}">View Friends' Prayers</a></li>
                    <li><a href="{{ url_for('friends') }}">Friends</a></li>
                    <li><a href="{{ url_for('account_settings') }}">Account Settings</a></li>
                {% endif %}
            </ul>

        </nav>
        <div class="login-logout-container">
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('logout') }}" method="GET">
                    <button type="submit" class="logout-btn">Log Out</button>
                </form>
            {% elif '/signup' in request.path %}
                <a href="{{ url_for('login') }}" class="login-signup-btn">Login</a>
            {% else %}
                <a href="{{ url_for('signup') }}" class="login-signup-btn">Sign Up</a>    
            {% endif %}
        </div>
    </div>
    
    <!-- Flask messages section -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <div class="content">



        {% block content %}

        {% endblock %}


    </div>



    
    <footer>

    </footer>
    
    {% block scripts %}

    {% endblock %}
</body>
</html>