<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!--<header>
        <h1>Christian Reflections - A Prayer App</h1>
    </header>-->
    <nav>
        {% if session.logged_in %}
            <form action="/logout" method="GET">
                <button type="submit" class="logout-btn">Log Out</button>
            </form>
        {% elif 'signup' in request.path %}
            <a href="/" class="login-signup-btn">Login</a>
        {% else %}
            <a href="/signup" class="login-signup-btn">Sign Up</a>    
        {% endif %}
    </nav>
    <div class="navbar">
        <div class="navbar-brand">Christian Reflections - A Prayer App</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('view_prayers') }}">Prayers</a></li>
                <li><a href="{{ url_for('account_settings') }}">Account Settings</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>

    </footer>
    {% block scripts %}

    {% endblock %}
</body>
</html>