{% extends 'base.html' %}

{% block title %}Edit Prayer{% endblock %}

{% block content %}
    <h1>Edit Prayer</h1>
    <form method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ prayer.title }}" required>
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{ prayer.description }}" required>
        <br>
        <div class="form-group" style="display: inline;">
            <label for="reminderDays">Reminder Days:</label><br>
            {% for day in days_of_week %}
                <label class="checkbox-inline">
                    <input type="checkbox" id="{{ day }}" name="reminderDays" value="{{ day }}"{% if day in prayer.reminder.split(',') %}checked{% endif %}>
                    {{ day|capitalize }}
                </label>
            {% endfor %}
        </div>
        <label for="tag">Tag:</label>
        <select id="tag" name="tag">
            {% for category in categories %}    
                <option value="{{ category }}" {% if prayer.tag.name == category %}selected{% endif %}>
                    {{ category }}
                </option>
            {% endfor %}
        </select>    
        <br>
        <br>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="answered"{% if prayer.answered %}selected{% endif %}>Answered</option>
            <option value="pending"{% if not prayer.answered %}selected{% endif %}>Pending</option>
        </select>

        <br>
        <br>
        <label for="sharable">Share with friends?</label>
        <select id="sharable" name="sharable">
            <option value="private"{% if not prayer.sharable %}selected{% endif %}>Private</option>
            <option value="shared"{% if prayer.sharable %}selected{% endif %}>Shared</option>
        </select>
        <br>
        <br>
        <button type="submit">Save Changes</button>
        <a href="javascript:history.go(-1);" class="form-btn">Cancel</a>
        
    </form>
    <form method="post" action="{{ url_for('delete_prayer', prayer_id=prayer.id) }}">
        <input class="delete-btn" type="submit" name="delete" value="Delete Prayer">
    </form>
{% endblock %}