{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <div class="welcome">
        <h1>Welcome, {{firstname}} {{lastname}}</h1>
    </div>
    <h1>Daily Prayers</h1>

    <!--Action buttons-->
    <div class="action-buttons">

        <button id="markAnsweredBtn" disabled>Mark Selected as Answered</button>
        <button id="markPendingBtn" disabled>Mark Selected as Pending</button>
        <button id="deleteBtn" disabled>Delete Selected</button>
    </div>

    <table class="prayer-table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Title</th>
                <th>Description</th>
                <th>Tag</th>
                <th>Answered</th>
                <th>Prayed Today</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            {% for prayer in filtered_prayers %}
                {% set row_class = "unprayed-row" %}
                {% if prayer in prayed_today_prayers %}
                    {% set row_class = "prayed-row" %}
                {% endif %}
                <tr class="{{ row_class }}">
                    <td><input type="checkbox" name="selectedPrayers" value="{{ prayer.id }}"></td>
                    <td>{{ prayer.title }}</td>
                    <td>{{ prayer.description }}</td>
                    <td>{{ prayer.tag.name }}</td>
                    <td>{{ "Answered" if prayer.answered else "Pending" }}</td>
                    <td>{{ "Yes" if prayer in prayed_today_prayers else "No" }}</td>
                    <td>
                        <!-- Edit button -->
                        {% set editUrl = url_for('edit_prayer', prayer_id=prayer.id, prev_url=request.url) %}
                        <button onclick="window.location.href='{{ editUrl }}';" class="edit-btn">Edit</button>
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

    <script src="static/js/prayerActions.js"></script>
{% endblock %}

