{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% if firstname and lastname %}
        <div class="welcome">
            <h1>Welcome, {{firstname}} {{lastname}}</h1>
        </div>
        <h1>Daily Prayers</h1>
    
        <table class="prayer-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Tag</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>


                {% for prayer in filtered_prayers %}
                    <tr>
                        <td>{{ prayer.title }}</td>
                        <td>{{ prayer.description }}</td>
                        <td>
                            {% for tag in prayer.tag %} 
                                {{ tag.name }}
                            {% endfor %}
                        </td>
                        <td>{{ "Answered" if prayer.answered else "Pending" }}</td>
                        <td>
                            <!-- Button to mark prayer as prayed -->
                            <form action="{{url_for('mark_prayed', prayer_id=prayer.id)}}" method="POST" style="display:inline;">
                                <button type="submit">Mark as Prayed</button>
                            </form>
                        </td>
                    
                    </tr>

                {% endfor %}
            </tbody>
        </table> 
        <h2>Prayed for today</h2>
        <table class="prayer-table">
            <tbody>
                {% for prayer in prayed_today_prayers %}                  
                    <tr>
                        <td>{{ prayer.title }}</td>
                        <td>{{ prayer.description }}</td>
                        <td>
                            {% for tag in prayer.tag %} 
                                {{ tag.name }}
                            {% endfor %}
                        </td>
                        <td>{{ "Answered" if prayer.answered else "Pending" }}</td> 
                        <td>
                            <!-- Button to mark prayer as prayed -->
                            <form action="{{url_for('mark_prayed', prayer_id=prayer.id)}}" method="POST" style="display:inline;">
                                <button type="submit">Mark as Prayed</button>
                            </form>
                        </td> 
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Please log in to access this page.</p>
    {% endif %}
{% endblock %}