{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form action="/login" class="web-form" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="Login">
    </form>
{% endblock %}
