{% extends 'base.html' %}

{% block title %}Prayers{% endblock %}

{% block content %}
    <h1>Prayers</h1>
    <!--Action buttons-->
    <div class="action-buttons">

        <button id="markAnsweredBtn" disabled>Mark Selected as Answered</button>
        <button id="markPendingBtn" disabled>Mark Selected as Pending</button>
        <button id="deleteBtn" disabled>Delete Selected</button>
    </div>
    <table class="prayer-table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Title</th>
                <th>Description</th>
                <th>Tag</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">
                    <button onclick="window.location.href='{{ add_prayer }}';">Add Prayer</button>
                </td>
            </tr>
            
            <!-- Form for adding a new prayer -->
            <!-- Disable this section for now
            <tr id="addPrayerForm" style="display: none;">
                <td></td>
                <td><input type="text" id="newPrayerTitle" name="newPrayerTitle"></td>
                <td><textarea id="newPrayerDescription" name="newPrayerDescription"></textarea></td>
                <td>
                    <select name="tag">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><button type="button" onclick="addPrayer(event)">Submit</button></td>
            </tr>
                -->
            {% for prayer in prayers %}
            <tr>
                <td><input type="checkbox" name="selectedPrayers" value="{{ prayer.id }}"></td>
                <td>
                    <span id="title-{{ prayer.id }}" class="editable">{{ prayer.title }}</span>
                    <input type="text" id="title-edit-{{ prayer.id }}" class="edit-field" value="{{ prayer.title }}" style="display: none;">
                </td>
                <td>
                    <span id="description-{{ prayer.id }}" class="editable">{% if prayer.answered %}Thank you for answering my prayer of {{prayer.title}}.{% else %}{{ prayer.description }}{% endif %}</span>
                    <input type="text" id="description-edit-{{ prayer.id }}" class="edit-field" value="{{ prayer.description }}" style="display: none;">
                </td>
                <td>
                    <span id="tag-{{ prayer.id }}" class="editable">{{ prayer.tag.name }}</span>
                    <select id="tag-edit-{{ prayer.id }}" class="edit-field" style="display: none;">
                        {% for category in categories %}
                            <option value="{{ category }}" {% if prayer.tag == category %}selected{% endif %}>{{ category }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <span id="status-{{ prayer.id }}" class="editable">{{ "Answered" if prayer.answered else "Pending" }}</span>
                    <select id="status-edit-{{ prayer.id }}" class="edit-field" style="display: none;">
                        <option value="answered" {% if prayer.answered %}selected{% endif %}>Answered</option>
                        <option value="pending" {% if not prayer.answered %}selected{% endif %}>Pending</option>
                    </select>
                </td>
                <td>
                    <!-- Edit button -->
                    {% set editUrl = url_for('edit_prayer', prayer_id=prayer.id, prev_url=request.url) %}
                    <button onclick="window.location.href='{{ editUrl }}';" class="edit-btn">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="static/js/prayerActions.js"></script>

{% endblock %}