{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post" action="{{ url_for('signup') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.firstname.label }} {{ form.firstname(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.lastname.label }} {{ form.lastname(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }} {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password1.label }} {{ form.password1(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password2.label }} {{ form.password2(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.timezone.label }} {{ form.timezone(class="form-control") }}
        </div>
        <br>
        <div class="form-group">
            {{ form.thankfulness_length.label }} {{ form.thankfulness_length(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    {% endblock %}
